extends layout

block body

  #welcome.jumbotron
    h1 Welcome to Master Blaster Game Website
    <br/>
    p.bigbutton
      a.bigbutton.btn.btn-lg.btn-danger(href='/register', role='button') Register
